.card_home {
   width: 90%;
   height: 490px;
   margin: 0px auto;
   border-radius: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 8px 30px #7a7b8333;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background: linear-gradient(108.46deg, rgba(255, 255, 255, 0.264) 0%, rgba(255, 255, 255, 0.066) 100%);
}

.home {
   padding-top: 100px;
}

.profile {
   width: 40%;
   text-align: start;
}

.profile h4 {
   margin: 0px;
   font-weight: lighter;
   letter-spacing: 1px;
}

.profile p {
   font-weight: lighter;
}

.img {
   width: 500px;
}

.miguel {
   margin: 0px;
   color: #ffa713;
   font-size: 50px;
   font-family: "Poppins", sans-serif;
}
.svgs {
   width: 40px;
   height: 40px;
   display: flex;
   float: left;
   margin: 3px;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   background: linear-gradient(108.46deg, rgba(255, 255, 255, 0.264) 0%, rgba(255, 255, 255, 0.066) 100%);
   transition: 0.5s, color 0.1s;
   -webkit-transition: 0.5s, color 0.1s;
   -moz-transition: 0.5s, color 0.1s;
}

.svgs:hover {
   transform: scale(1.2, 1);
   -webkit-transform: scale(0.9, 0.9);
   -moz-transform: scale(0.9, 0.9);
}

.svgs a {
   fill: #ffffff;
   padding-top: 4px;
}

@media (max-width: 1140px) {
   .img {
      width: 400px;
   }

   .profile {
      width: 50%;
   }
}

@media (max-width: 1023px) {
   .card_home {
      display: block;
      padding-top: 20px;
      height: 500px;
   }

   .image_home {
      margin: 0px auto;
      width: 50%;
   }

   .img {
      padding-top: 40px;
      width: 350px;
      margin: 0px auto;
   }

   .profile {
      width: 90%;
      margin: 0px auto;
   }
}

@media (max-width: 773px) {
   .img {
      padding-top: 0px;
      width: 350px;
      margin: 0px auto;
   }
}

@media (max-width: 596px) {
   .miguel {
      font-size: 40px;
   }

   .home {
      padding-top: 180px;
   }

   .img {
      padding-top: 40px;
      width: 270px;
      margin: 0px auto;
   }
}

@media (max-width: 430px) {
   .miguel {
      font-size: 35px;
   }

   .image_home {
      margin: 0px auto;
      width: 60%;
   }

   .img {
      padding-top: 30px;
      width: 270px;
      margin: 0px auto;
   }
}
