.about {
   width: 90%;
   height: 490px;
   margin: 0px auto;
   margin-top: 30px;
   border-radius: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 8px 30px #7a7b8333;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background: linear-gradient(108.46deg, rgba(255, 255, 255, 0.264) 0%, rgba(255, 255, 255, 0.066) 100%);
}

.img_about {
   width: 400px;
}

.card_about {
   width: 50%;
   text-align: start;
}

.card_about h1 {
   font-family: "Poppins", sans-serif;
   color: #ffa713;
   font-size: 40px;
}

.card_about h4 {
   font-weight: lighter;
}
