@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");

body {
   margin: 0;
   font-family: "Roboto Condensed", sans-serif;
   background: #333333;
   color: #ffffff;
}
