@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");

body {
   margin: 0;
   font-family: "Roboto Condensed", sans-serif;
   background: #333333;
   color: #ffffff;
}

body::-webkit-scrollbar {
   width: 6px;
   background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
   background: #ffffff;
   border-radius: 8px;
}

.contenedor::-webkit-scrollbar:vertical {
   width: 10px;
}

@media (max-width: 1023px) {
   html,
   body {
      max-width: 100% !important;
      overflow-x: hidden !important;
   }

   body::-webkit-scrollbar {
      width: 0px;
      background: #1e1e1e;
   }
}
